@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row" id="index-central">
        <div class="col-6 col-lg-5 col-sm-10">
            <div id ="index-central-first">
                Привіт, це я
            </div>
            <div id="index-central-secondary">
                <span id="highlight">В</span>ерещак <span id="highlight">Б</span>огдан<span id="highlight-dot">.</span>
            </div>
            <div id="index-central-third">
                Ентузіастичний інженер програмного забезпечення та фулстек-розробник, 
                у цей момент активно творить майбутнє, створюючи захоплюючі та дизайнерсько-гладкі 
                веб-сайти, ігри та програми. Його розробки надають користувачам можливість 
                насолоджуватися плавною взаємодією з даними та інформацією, 
                створюючи вражаючий досвід використання.
            </div>
            <br>
            <div type="button" class="btn btn-outline-dark">Прокрутіть, щоб дізнатися більше</div>
        </div><!--./Col1-->
    </div><!--./Row1-->
</div><!--./Con1-->