@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row" id="index-central">
        <div class="col-7 col-lg-6 col-sm-10">
            <div id="index-central-first">
                <h1>Привіт, це я</h1>
            </div>
            <div id="index-central-secondary">
                <p><span id="highlight">В</span>ерещак <span id="highlight">Б</span>огдан<span id="highlight-dot">.</span></p>
            </div>
            <div id="index-central-third">
                <p>
                    Ентузіастичний інженер програмного забезпечення та фулстек-розробник,
                    у цей момент активно творить майбутнє, створюючи захоплюючі та дизайнерсько-гладкі
                    веб-сайти, ігри та програми. Мої розробки надають користувачам можливість
                    насолоджуватися плавною взаємодією з даними та інформацією,
                    створюючи вражаючий досвід використання.
                </p>
            </div>
            <br>
            <a href="#more-info" class="btn btn-outline-dark">Прокрутіть, щоб дізнатися більше</a>
        </div>
        <!--./Col1 Представлення-->
    </div>
    <!--./Row1-->
</div>
<br><br><br><br>
<!--./Con1-->
<!-- Інформація, після прокрутки -->
<div id="more-info" class="container">
    <div class="row">
        <div class="col-12">
            <h2>Трішки більше про мене</h2>
            <h4>З радістю поділюся деякими аспектами своєї роботи та зацікавленості:</h4>
            <br>
            <h2>Мої навички</h2>
            <ul>
                <li>Розробка веб-сайтів з використанням HTML, CSS, та JavaScript.</li>
                <li>Досвід роботи з фреймворками, такими як ASP.NET.</li>
                <li>Створення ігор на платформі Godot.</li>
                <li>Робота з базами даних, включаючи MySQL та Database.NET.</li>
            </ul>
            <br>
            <div class="row">
                <div class="col-12">
                    <h2>Мої захоплення</h2>
                    <ul class="hobby-list">
                        <li>Розробка комп'ютерних і телефоних ігор'.</li>
                        <li>Не спати до 4 ночі.</li>
                        <li>Подорожі.</li>
                        <li>Тестування програм.</li>
                    </ul>
                </div>
            </div>
            <br />
            <h2>Проекти</h2>
            <h4>Мої найновіші роботи і ті, у яких я брав участь включають:</h4>
            <ul>
                <li>Гра "БабкаФріз": інтерактивна гра за бабку в трамваї(може поїзді)</li>
                <li>Веб-сайт "Portfolio": мій особистий сайт з іграми та відгуками</li>
                <li>Гра "SuikaGame": веб-браузерна гра про з'єднання фруктів'</li>
            </ul>
            <br>
        </div>
    </div>
</div>
<section class="projects-wrapper">
    <ul class="projects">
        <li class="project col-5" id="project-1">
            <div class="project-number col-12">
                <h3>01 БабкаФріз</h3>
            </div>
            <div class="col-12">
                <img class="project-thumb" alt="" src="/img/babkafreeze.jpg">
            </div>
        </li>
        <li class="project col-6" id="project-2">
            <div class="project-number col-12">
                <h3>02 Portfolio</h3>
            </div>
            <div class="col-12" bis_skin_checked="1">
                <img class="project-thumb" src="/img/Portfolio.png">
            </div>
        </li>
        <li class="project col-12" id="">
            <div class="project-number col-12">
                <h3>03 SuikaGame</h3>
            </div>
            <div class="col-12" id="project-3">
                 <img class="project-thumb" alt="" src="/img/SuikaGame.jpg">
            </div>
        </li>
    </ul>
</section>