@{
    ViewData["Title"] = "Про мене";
}
<h1>@ViewData["Title"]</h1>

<h3>
    Привіт, я Богдан. Я фахівець комп'ютерних наук, веб-розробник, менеджер баз-даних, розробник ігор та програмного забеспечення.
    На даний момент проживаю в Львові, Україна. Маю особистий досвід роботи в роботі на власних та університетських проєктах. Ну і шось там ше класне)
</h3>

<div class="h2">
    <em>
        Давайте будемо знайомі!
     </em>
</div>

<div class="text-warning h2">
    Мої навички:
</div>

