@{
    ViewData["Title"] = "Про мене";
}
<div id="more-info">
    <h1>@ViewData["Title"]</h1>
    <div class="container">
        <div class="row">
        Приємно з вами познайомитись
        Мене звати Богдан, студент 2 курсу Комп'ютерних наук Політехніки.<br>
            Можете розцінювати мене як фахівця комп'ютерних наук, веб-розробника, менеджера баз-даних,<br> 
            розробника ігор та програмного забеспечення.<br>
        На моєму досвіді кілька проєктів з кожним з перелічених категорій)<br>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12">
                <h2>Прямо зараз я працюю над проектом SuikaGames</h2>
            </div>
        </div>

        <br><br>
        <div class="row skills">
            <h2>Мої навички:</h2>  
            <div class="col-2">
                <img src="/picture/aspnet.png">
                ASP.NET
            </div>
            <div class="col-2">
                <img src="/picture/html.png">
                HTML
            </div>
            <div class="col-2">
                <img src="/picture/css.png">
                CSS
            </div>
            <div class="col-2">
                <img src="/picture/Bootstrap.png">
                Bootstrap
            </div>
            <div class="col-2">
                <img src="/picture/jquery.png">
                JQuery
            </div>
            <div class="col-2">
                <img src="/picture/js.png">
                JS
            </div>
        </div>
        <div class="row skills">
            <div class="col-2">
                <img src="/picture/oop.jpg">
                OOP
            </div>
            <div class="col-2">
                <img src="/picture/mysql.png">
                MySQL
            </div>
            <div class="col-2">
                <img src="/picture/databasenet.png">
                DataBase.NET
            </div>
        </div>
    </div>
</div>
