@{
    ViewData["Title"] = "Ігри";
}

<div class="container">
    <div class="row" id="index-central">
        <div class="col-7 col-lg-6 col-sm-10">
            <a style="display:block" asp-controller="Games" asp-action="SuikaGame">
                <h1>Suika Game</h1>
                <img src="~/img/suikagame.jpg" />
            </a>
        </div><!--./Col1-->
    </div><!--./Row1-->
</div><!--./Con1-->
