@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Ми зараз не підтримуємо емейл розсилку, тому можете просто перейти по цій силці для підтвердження <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисніть для підтвердження</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

