html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    width: 200px;
    position: absolute;
    margin-top: 20px;
    left: 330px;
    z-index: 5;
}

.itemDiv {
    display: flex;
    width: 300px;
    margin-top: 10px;
    justify-content: center;
}

.fallingDiv {
    position: absolute;
    height: 20px;
    font-size: 13.3333px;
    transform: rotate(0deg);
}

#index-central {
    position: relative;
    margin-top: 40px;
    margin-bottom: 0px;
    color: black;
}

#index-central-first {
    font-weight: 600;
    font-size: 2em;
    line-height: 45px;
}
#index-central-secondary {
    font-weight: 700;
    font-size: 5.5em;
    line-height: 70px;
}

#highlight {
    color: rgb(35, 14, 95);
    font-size: 1.1em;
}

#highlight-dot {
    color: rgb(6, 167, 216)
}

#index-central-third{
    font-size: 1.1em;
    font-weight:500;
    margin-top:4px;
}