html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

img {
    width: 200px;
    position: absolute;
    margin-top: 20px;
    left: 330px;
    z-index: 5;
}

.container{
    justify-content:start;
}

.itemDiv {
    display: flex;
    width: 300px;
    margin-top: 10px;
    justify-content: center;
}

.fallingDiv {
    position: absolute;
    height: 20px;
    font-size: 13.3333px;
    transform: rotate(0deg);
}

#index-central {
    position: relative;
    margin-bottom: 0px;
    margin-block: 30px;
    margin-left: 50px;
    color: black;
}

#index-central-first {
    font-weight: 600;
    font-size: 2em;
    line-height: 45px;
}
#index-central-secondary {
    font-weight: 700;
    font-size: 5.5em;
    line-height: 70px;
}

#highlight {
    color: rgb(35, 14, 95);
    font-size: 1.1em;
}

#highlight-dot {
    color: rgb(6, 167, 216)
}

#index-central-third{
    font-size: 1.1em;
    font-weight:500;
    margin-top:4px;
}

.ham-menu {
    height: 50px;
    width: 50px;
    position: relative;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .4s ease;
}

.ham-menu span:nth-child(1){
    top:25%;
}

.ham-menu span:nth-child(3){
    top:75%;
}

.ham-menu.active span:nth-child(1){
    top:50%;
    transform:
        translate(-50%, -50%)
        rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity:0;
}

.ham-menu.active span:nth-child(3){
    top:50%;
    transform:
        translate(-50%, -50%)
        rotate(-45deg);
}