html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}

body::after{
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

#bin{
    width: 250px;
    position: relative;
    margin-top: 20px;
    left: 180px;
    z-index: 5;
}

.navbar {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    overflow: hidden;
    text-align: center;
    font-size: 1.3em;
    border-bottom: 5px solid transparent;
    border-radius: 1rem;
    border-width: 4px;
    font-weight:800;
}

.navbar-nav {
    margin-top: 0px;
    left: 0px;
    z-index: 5;
}

.navbar-brand {
    margin-left: 50px;
    margin-right: 50px;
}

.favicon {
    position:relative;
    width: 70px;
}

.itemDiv {
    display: flex;
    width: 300px;
    margin-top: 10px;
    justify-content: center;
}

.fallingDiv {
    position: absolute;
    height: 20px;
    font-size: 13.3333px;
    transform: rotate(0deg);
}

#index-central {
   position: relative;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-block: 30px;
    margin-left: 50px;
}

#index-central-first {
    font-weight: 600;
    font-size: 2em;
    line-height: 45px;
}
#index-central-secondary {
    font-weight: 700;
    font-size: 5.5em;
    line-height: 70px;
}

#index-central-third {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 4px;
}

#highlight {
    color: rgb(35, 14, 95);
    font-size: 1.1em;
}

#highlight-dot {
    color: rgb(6, 167, 216)
}


.ham-menu {
    height: 50px;
    width: 50px;
    position: relative;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .4s ease;
}

.ham-menu span:nth-child(1){
    top:25%;
}

.ham-menu span:nth-child(3){
    top:75%;
}

.ham-menu.active span:nth-child(1){
    top:50%;
    transform:
        translate(-50%, -50%)
        rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity:0;
}

.ham-menu.active span:nth-child(3){
    top:50%;
    transform:
        translate(-50%, -50%)
        rotate(-45deg);
}

#registerSubmit {
    color: black;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 12px; /* Ширина скроллбару */
    color:#000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #343232; /* Колір "ползунка" скроллбару */
    border-radius: 20px;
}

/* Стилізація горизонтального скроллбару */
body::-webkit-scrollbar-track {
    background-color: #202020; 
}